@tailwind base;

/* Write your own custom base styles here */
@layer base {
  html {
    height: -webkit-fill-available;
  }

  body {
    min-height: 100vh;
    /* mobile viewport bug fix */
    min-height: -webkit-fill-available;
  }

  @font-face {
    font-family: "Arial Grotesk";
    src: url("/ArialGrotesk-Regular.woff") format("woff"),
      url("/ArialGrotesk-Regular.ttf") format("ttf");
    font-weight: 400;
    text-rendering: optimizeLegibility;
  }

  @font-face {
    font-family: "Arial Grotesk";
    src: url("/ArialGrotesk-HeavyItalic.woff") format("woff"),
      url("/ArialGrotesk-HeavyItalic.ttf") format("ttf");
    font-style: italic;
    font-weight: 800;
    text-rendering: optimizeLegibility;
  }

  * {
    font-family: "Arial Grotesk", -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .text-header {
    @apply uppercase;
    color: rgba(100, 100, 100, 0.001);
    -webkit-text-stroke: 1px #000;
  }

  .text-logo-bottom {
    transform: translateY(-62%);
  }

  h1 {
    font-family: "Arial Grotesk", "system-ui";
    color: #60f033;
    font-size: calc(3rem + 4vw);
    font-weight: 800;
    font-style: italic;
    -webkit-text-stroke: 1px #000;
  }

  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }

  a {
    @apply transition duration-500 ease-in-out;
  }

  a:hover {
    @apply underline;
  }
}

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */
.h-fill-available {
  height: -webkit-fill-available;
  height: -moz-available;
  height: fill-available;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
@layer utilities {
  .h-doublescreen {
    min-height: 200vh;
  }
}
