@tailwind base;

/* Write your own custom base styles here */
@layer base {
  @font-face {
    font-family: "Arial Grotesk";
    src: url("/arialgrotesk-trial-regular-webfont.woff2") format("woff2"); /* Super Modern Browsers */
    font-weight: 400;
  }

  @font-face {
    font-family: "Arial Grotesk";
    src: url("/arialgrotesk-trial-heavyitalic-webfont.woff2") format("woff2"); /* Super Modern Browsers */
    font-weight: 800;
  }

  * {
    font-family: "Arial Grotesk", "system-ui";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .text-header {
    @apply uppercase;
    color: rgba(100, 100, 100, 0.001);
    -webkit-text-stroke: 1px #000;
  }

  .container-logo {
    /* transform: translate(19vw, 4vh); */
  }

  @media screen and (max-width: 480px) {
    .container-logo {
      /* transform: translate(12vw, 4vw); */
    }
  }

  .text-logo {
    font-size: calc(3rem + 4vw);
    color: #60f033;
    -webkit-text-stroke: 1px #000;
  }

  .text-logo-bottom {
    transform: translateY(-62%);
  }

  h1 {
    @apply text-2xl;
    font-family: "Arial Grotesk";
    font-weight: 800;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }

  a {
    @apply transition duration-500 ease-in-out;
  }

  a:hover {
    @apply underline;
  }
}

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */
.btn-blue {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
@layer utilities {
  .h-doublescreen {
    min-height: 200vh;
  }
}
